:root {
    --blue: #1992d4;
    --yellow: #f0b429;
    --grey: #e2e8f0;
}

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings:
        "wdth" 100;
}